body{
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: conic-gradient(from .5turn at center left, lime, cyan)
  }
  
  .container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #calculator{
    border: 1px solid lightgray;
    background: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
  
  #calculator input{
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  #calculator button{
    width: 10%;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: whitesmoke;
  }
  
  #calculator button:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  #quality{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  #tip-amount{
    visibility: hidden;
    min-width: 250px; /* Set a default minimum width */
    margin: auto;
    background: rgb(132, 255, 198);
    color: rgb(0, 0, 0); /* White text color */
    bottom: 30px; /* 30px from the bottom */
    text-align: center; /* Centered text */
    border-radius: 520px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
  }
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(1, 196, 105);
    cursor: pointer;
    display: inline-block;
    font-family:sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #tip-amount.show{
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @media (max-width: 480px){
    .calculator input{
      width: 85%;
    }
  
    .calculator button{
      width: 15%;
    }
  } 
  
  @media (max-width: 320px){
    .calculator input{
      width: 80%;
    }
  
    .calculator button{
      width: 20%;
    }
  } 
  